*, *::before, *::after  {
    box-sizing: border-box;
}

body {
font-family: Raleway;
margin: 0;
}

.container-header1 {
display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
}

.Logo {
  margin-top: 53px;
  margin-left: 3.6%;
  flex-basis: 70%;
  align-self: flex-end;   
}

.accact {                                       /*Accommodations and Activites class*/
    justify-content: flex-end;
    margin-top: 32px;
    padding: 40px;
    text-size-adjust: 7px;
}

.accact a {
text-decoration: none;
color: inherit;
}

.accact a:hover {
    color:#0065FC;
    border-top: 2pt solid #0065FC;
    padding-top: 40px;
    text-decoration: none;
}


.heading {
  max-width:fit-content;
  margin: inherit;
  padding: 0 3.6%;
}

.emptydiv1 {
    visibility: hidden;
    height: 0px;
}
/*.h1find {
    margin-left: 32px;
    letter-spacing: -2px;
}
.pdowntown {
    margin-left: 32px;
    margin-top: -22px;
} */

.search{
    display: inline-block;
    position: relative;
    left: 3.6%;
    width: 330px;
}

input[type=text] {
    padding: 9px 20px 12px 9px;
    font-weight: 700;
    position: absolute;
    left:50px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #F2F2F2;
}

.fa-location-dot {
    border: 1px solid #F2F2F2;
    border-radius: 12px 0 0 12px;
    padding: 12px 16px 12px 12px;
    padding-inline-start: 20px;
    position: absolute;
    left:0;
    background-color: #F2F2F2;
  }

  .submit {
      background-color: #0065FC;
      color: white;
      font-weight: 700;
      border : 1px solid  #0065FC;
      padding: 11px 20px 11px 11px;
      position: absolute;
      right:0px;
   border-radius: 0 12px 12px 0;
   transition: 0.5s;
  }

  .submit:hover {
    color:#F2F2F2 }
/*                                                                            
.search {
    margin: -50px 0 0 32px;   
} */   /*alternative positioning  */

.Filters {
    display: flex;
    flex-flow: row wrap;
    margin: 49px 0 0 3.6%;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}

.fltIcon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    margin-left: 40px;
    padding: 1px 20px 1px 0px;
    border: 1px solid #f2f2f2;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.i {
  padding-left: 16px;
    font-size: 16px;
}


.filter-icon {
  width: 43px;
  height: 43px;
  margin: -2px 0 -2px -16px;
  color: #0065fc;
  background-color: #DEEBFF;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
i[class="fa-solid fa-money-bill-wave"], i[class="fa-solid fa-child"], i[class="fa-solid fa-heart"], i[class="fa-solid fa-dog"] {
  width: 43px;
  height: 43px;
  margin: -2px 0 -2px -20px;
  text-align: center;
  line-height: 42px;
  font-size: 16px;
  color: #0065fc;
  background-color: #DEEBFF;
  border-radius: 24px;

}
 
*/

.info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  margin-left: 3.6%;
  gap: 15px;
}
  
.infoicon {
  width: 23px;
  height: 23px;
  color: #0065fc;
  border-radius: 24px;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info > p {
  width:400px;
}

#AccomodationsInMarseille {
display: flex;
justify-content: flex-start;
flex-flow: row wrap;
align-items: center;
}

.AccomodationsInMarseille {
  display: inline-block;
  width: 880px;
  height: 626px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 15px 40px 0px 3.6%;
}

.AccomodationsInMarseille > h2 {
  margin-top: 50px;
  margin-left: 40px;
  font-size: 16px;
  font-family: Raleway-Bold;
}

.AccomodationsInMarseille > h4 {
  margin-top: 43px;
  margin-bottom: 50px;
  margin-left: 40px;
  font-size: 16px;
  font-family: Raleway-Bold;
}

.MarseilleRowOne {
  display: flex;
  gap: 30px;
  margin: 27px 40px;
}

.Card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: white;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 244px;
  height: 199px; 
  border-radius: 10px; 
}

.Image {
  width: 236px;
  height: 114px;
  object-fit: cover;
  margin: 5px 3px 0px 5px;
  border-radius: 10px;
}

.Container {
  text-align: left;
  margin-top: -10px;
  margin-left: 16px;
  line-height: 0px;
  font-size: 12px;
}

.Container > I {
  color:#0065fc;
}

.Container > #Star {
  color:#f2f2f2;
}

.MarseilleRowTwo {
  display: flex;
  gap: 30px;
  margin: 27px 40px;
}

.Price {
  font-family: Raleway-bold;
}

/* On mouse-over, add a deeper shadow */
.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

aside {
  width: 420px;
  height: 625px;
 /*top: 429px; 
 right: 40px;
 */
  background-color: #f2f2f2;
  border-radius: 10px;
}

.MostPopularHeading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: space-around;
}

.MostPopularH {
  flex: 1 1 auto;
  margin-left: 38px;
  margin-top: 40px;
  font-family: Raleway-Bold;
}

.MostPopularHeading > span {
  margin-top: 46px;
  align-self: center;
  margin-right: 32px;
}

.CardsColumns {
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.MostPopularCard {
  height: 144px;
  width: 344px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: wrap;
}

.ContainerMostPopularCards > i  {
  color: #0065fc;
}

.MostPopularImage{
  width: 127px;
  height: 134px;
  margin: 5px 21px 5px 5px;
  border-radius: 10px;
  object-fit: cover;
}

.ContainerMostPopularCards {
  word-spacing: -2px;
  margin-right:20px;
}

.ContainerMostPopularCards >#Star {
  color:#f2f2f2;
}

.ActivitiesInMarseille > h4 {
margin: 64px 0px  0px 3.6%;
}

.box {
  height: 50px;
  background-color: blue;
  width: 302px;
  height: 226px;
}

.mb-1 {
  height: 237px;
}

.mb-2 {
  height: 210px;
}

.tall {
  height: 100%;
}

.row {
  display: flex;
  margin: 27px 53px 60px 3.6%;
  gap: 43px;
}

.col {
  width: 302px;
  height: 445px;
}

#col {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  max-width: 100%;
  gap: 10%;
  margin-top: 20%;  
}

h5 {
  font-size:18px;
}

footer a {
  text-decoration: none;
color: inherit;
}

ul {
  list-style-type: none;
  margin: 15px 0 15px 0;
  padding-left: 0px;
}

li {
  line-height: 30px;
}

.about, .our-accommodations, .assistance {
margin: 0 0 0 3.6%;
}

