
/* Colors = blue #0065FC  light blue #DEEBFF grey background #F2F2F2 */

* {
	box-sizing: border-box;
	font-family: Raleway;
    color: black;
}
a {
	text-decoration: none;
}
a:visited {
	color: black;
}
.body-format {
	max-width: 1440px;
	margin: auto;
	padding: 0 1rem;
	box-sizing: border-box;
}
.topnav {
	overflow: hidden;
}
.topnav a {
	float: right;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a.topnav-signup {
	color: #0065FC;
	font-weight: bold;
}
.topnav a:hover {
	background-color: #f2f2f2;
	color: black;
}
.topnav a:active {
	border-top: 1px solid #0065FC;
	color: #0065FC;
}
.input-container {
	display: flex;
	border: 1pt solid #f2f2f2;
	width: 350px;
	margin-bottom: 1rem;
}
.input-field {
	width: 70%;
	padding:0 1rem;
	border: none;
}
.input-field:focus {
	border: 2px solid #0065FC;
}
.icon-bg {
    margin-left: -2px;
	position: absolute;
	height: 43px;
	width: 43px;
	border-radius: 32px;
	background: #DEEBFF;
}
.icons {
	margin-left: -7px;
	color: #0065fc;
	overflow: hidden;
}
.map-icon {
	display: flex;
	padding: 10px;
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
	background-color: #F2F2F2;
}
.search-button {
	border: none;
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #0065FC;
	width: 33%;
}
.container-filters {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-weight: bold;
    width: 90%;
	align-items: center;
	margin-bottom: 1rem;
}
.container-filters a {
	text-decoration: none;
}
.container-filters a:hover {
	margin-top: -10px;
}
.container-filters a:visited {
	color: black;
}
.filter-border {
    margin: .2rem;
	position: relative;
	display: flex;
	align-items: center;
	border: 3px solid #F2F2F2;
	border-radius: 50px;
	padding-right: 2rem;
	margin-left: 10px;
}

.accomodations-and-popular-container {
	display: grid;
	grid-column-gap: 2rem;
	grid-template-columns: 6fr 3fr;
}
.accomodations-container, .popular-container {
	background-color: #F2F2F2;
	border-radius: 1.5rem;
	padding: 2rem;
}
.accomodations-container {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}
.accomodations-title {
	grid-column: 1 / -1;
}
.accomodations-title-margins {
	margin: 0;
}
.accomodations-listings {
	background-color: white;
	padding: 0.375rem;
	border-radius: 1.25rem;
	box-shadow: 0 3px 20px -9px rgba(0,0,0,.5);
	box-sizing: border-box;
	height: 100%;
}
.accomodations-listings:hover {
	margin-top: -10px;
}
.accomodations-listings-margin {
	margin: 0;
}
.accomodations-listings-crop {
	height: 7rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	border-radius: 1rem 1rem 0 0;
}
.listings-title {
	margin: .25rem .75rem 0 .75rem;
}
.listings-description {
	margin: .25rem .75rem .25rem .75rem;
}
.listings-format-stars {
	margin: 0 .75rem .25rem .75rem;
}
.popular-container {
	display: grid;
	grid-row-gap: 2rem;
	align-items: start;
	grid-template-rows: auto repeat(3, 1fr);
}
.popular-title {
	margin: 0;
	display: flex;
	justify-content: space-between;
}
.popular-listings-format {
	display: flex;
	align-items: stretch;
	height: 100%;
	overflow: auto;
}
.popular-listings-format-img-crop {
	position: relative;
	min-height: 100%;
	width: 33%;
	min-width: 33%;
	max-width: 33%;
}
.popular-listings-format-img-shape {
	border-radius: 1rem 0 0 1rem;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.popular-listings-align-text {
	display: flex;
	flex-direction: column;
}
.popular-listings-fill-box {
	flex: 1;
}
.fa-info-circle {
	color: #0065FC;
}
.fa-star {
	color: #0065FC;
}
.activity-container {
	display: grid;
	column-gap: 2rem;
	margin: 4rem 0;
}
.activity-listing {
	display: flex;
	flex-direction: column;
	box-shadow: 0 3px 20px -9px rgba(0,0,0,.5);
	border-radius: 25px;
	overflow: hidden;
	text-decoration: none;
	color: black;
}
.activity-listing:hover {
	margin-top: -10px;
}
.activity-heading {
	grid-column: 1 / -1;
}
.activity-listing-img {
	position: relative;
	flex: 1;
}
.activity-listing-crop-img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.activity-listing-text {
	margin: 1.2rem 1.5rem;
}
.footer {
	margin-top: 1rem;
	width: 100%;
	display: block;
	overflow: hidden;
	padding-top: 2rem;
	background: #F2F2F2;
}
.inner-footer {
	display: block;
	margin: 0 auto;
	width: 1100px;
	height: 100%;
}
.inner-footer .footer-third {
	width: calc(33% - 1rem);
	margin-right: 1rem;
	float: left;
	height: 100%;
}
.inner-footer .footer-third:last-child {
	margin-right: 0px;
}
.inner-footer .footer-third h1 {
	font-size: 18px;
	color: black;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.inner-footer .footer-third a {
	font-size: 18px;
	color: black;
	display: block;
	font-weight: 200;
	width: 100%;
	margin-bottom: 5px;
	text-decoration: none;
}
@media (min-width: 1281px) {
	.activity-container {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
	}
	.activity-listing1 {
		grid-row: 2 / 7;
		grid-column: 1 / 2;
	}
	.activity-listing2 {
		grid-column: 2 / 3;
		grid-row: 2 / 5;
	}
	.activity-listing3 {
		grid-column: 3 / 4;
		grid-row: 2 / 7;
	}
	.activity-listing4 {
		grid-column: 4 / 5;
		grid-row: 2 / 3;
	}
	.activity-listing5 {
		grid-column: 2 / 3;
		grid-row: 6 / 7;
	}
	.activity-listing6 {
		grid-column: 4 / 5;
		grid-row: 4 / 7;
	}
}
@media (max-width: 1280px) {
	.accomodations-and-popular-container {
		grid-template-columns: 1fr;
		grid-row-gap: 2rem;
	}
	.popular-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 10rem;
		column-gap: 2rem;
	}
	.popular-title {
		grid-column: 1 / -1;
	}
	.activity-container {
		grid-row-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 12rem 12rem;
	}
}
@media (max-width:1024px) {
	.container-filters {
		flex-direction: column;
		align-items: flex-start;
		flex: 100%;
		max-width: 100%;
	}
	.popular-container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}
	.popular-listings-align-text {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.activity-container {
		grid-row-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 12rem 12rem 12rem;
	}
	.footer .inner-footer {
		width: 100%;
	}
	.inner-footer .footer-third {
		width: 100%;
		margin-bottom: 30px;
		margin-left: 1rem;
	}
}
@media (max-width: 767px) {
	.container-filters a:hover {
		margin-top: 0px;
		margin-left: 10px;
	}
	.accomodations-listings:hover {
		margin-top: 0px;
		margin-right: 10px;
	}
	.accomodations-container {
        order: 1;
		grid-template-columns: 1fr;
        background-color: white;
	}
	.popular-container {
        order: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
        margin: 0;
        background-color: white;
	}
	.popular-listings-align-text {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
    .accomodations-container, .popular-container {
        padding: 0;
    }
	.accomodations-and-popular-container {
        display: flex;
        flex-direction: column;
		grid-column-gap: 2rem;
		grid-template-rows: auto;
        padding: 0;
	}
	.activity-listing:hover {
		margin-top: 0px;
		margin-right: 10px;
	}
	.activity-container {
		grid-row-gap: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
        margin: 0;
	}
    
}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete